  

<section class="hero-section">

    
  <app-header></app-header>
  <div class="welcome-badge">
    ● Welcome To Applet
  </div>

  <h1>
    Empowering Businesses with
    <span>Smart Digital Solutions</span>
  </h1>

  <p>
    We help businesses grow with modern websites, powerful mobile apps,
    result-driven digital marketing, and reliable technical support services.
  </p>

  <div class="hero-buttons">
    <button class="primary-btn">
      Get Started Now →
    </button>

    <button class="secondary-btn">
      ▶ Watch Video
    </button>
  </div>
</section>