.hero-section {
  min-height: 100vh;
  width: 100%;
  background: url('/assets/images/bgimg.jpg') center center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 20px;
  position: relative;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 1100px;
  text-align: center;
}

.welcome-badge {
  display: inline-flex;
  align-items: center;
  background: #f4efff;
  color: #6a38ff;
  padding: 8px 18px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 25px;
}

.hero-content h1 {
  font-size: 72px;
  line-height: 1.1;
  font-weight: 700;
  color: #111;
  margin-bottom: 25px;
}

.highlight {
  display: block;
  color: #6a38ff;
}

.hero-content p {
  max-width: 760px;
  margin: auto;
  font-size: 20px;
  line-height: 1.8;
  color: #555;
  margin-bottom: 40px;
}

.hero-btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.primary-btn {
  background: #6a38ff;
  color: #fff;
  border: none;
  padding: 16px 34px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
}

.primary-btn:hover {
  transform: translateY(-2px);
}

.secondary-btn {
  background: #fff;
  border: none;
  padding: 16px 34px;
  border-radius: 8px;
  color: #6a38ff;
  font-weight: 600;
  cursor: pointer;
}

.play-icon {
  margin-right: 8px;
}

/* Tablet */
@media(max-width:992px) {
  .hero-content h1 {
    font-size: 52px;
  }

  .hero-content p {
    font-size: 18px;
  }
}

/* Mobile */
@media(max-width:576px) {

  .hero-content h1 {
    font-size: 36px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .hero-btns {
    flex-direction: column;
    align-items: center;
  }

  .primary-btn,
  .secondary-btn {
    width: 250px;
  }
}