<section id="hero" class="hero-section">
  <div class="hero-content">
    <div class="welcome-badge">
      <span>● Welcome To Applet</span>
    </div>
    <h1>
      Empowering Businesses with
      <span class="highlight">Smart Digital Solutions</span>
    </h1>

    <p style="font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 28.8px;
letter-spacing: 0px;
text-align: center;
vertical-align: middle;
">
      We help businesses grow with modern websites, powerful mobile apps,
      result-driven digital marketing, and reliable technical support services.
    </p>

    <div class="hero-btns">
      <button class="primary-btn">
        Get Started Now
        <span>→</span>
      </button>

      <button class="secondary-btn">
        <span class="play-icon">▶</span>
        Watch Video
      </button>
    </div>

  </div>
</section>

<section id="about">
  <app-about></app-about>
</section>

<section id="services">
  <app-services></app-services>
</section>

<section id="blog">
  <app-blog></app-blog>
</section>

<section id="contact">
  <app-contact></app-contact>
</section>
<app-values></app-values>